@import '../../index.scss';

.wrapper {
    background: $dark-color;
    color: $white-color;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }
}

.smallText {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 85px;
    line-height: 1.2;
    color: $grey-color-500;
    list-style-type: none;
    padding: 0;

    strong {
        font-weight: 600;
        color: $white-color;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 50px;
    }
}

.description {
    margin: 30px 0;
    font-size: 32px;
    font-weight: 300;
    color: $grey-color-100;
}

.socialsList {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 5px 20px;
    padding-top: 8px;
    background: linear-gradient(90deg, $primary-color-200, $primary-color-100);
    border-radius: 20px;
}

.animation {
    width: 300px;
    top: 0;
    padding-top: 100px;
    position: sticky;

    @media (max-width: $breakpoint-md) {
        padding-top: 20px;
        width: 200px;
        margin-left: -10px;
    }
}